.AddHabit__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.20);
  display: none;

  &.show {
    display: block;
  }
}

.AddHabit {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transform: translateY(100%);
  min-height: 430px;
  padding: 15px;
  transition: transform 200ms ease-in-out;
  max-width: 600px;
  margin: auto;
  box-shadow: 0 0px 8px rgba(0,0,0,0.17);
  will-change: transform;
  z-index: 1;

  &.show {
    transform: translateY(0);
  }

  h2 {
    font-size: 25px;
    margin: 5px 0 10px;
  }

  .form__group {
    display: flex;
    min-height: 55px;
    flex-direction: column;
    padding: 10px 0;
  }

  .form__group-row {
    justify-content: space-between;
    display: flex;
    flex-direction: row;

    div {
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    div:last-child {
      margin-left: 25px;
    }
  }

  label {
    font-size: 15px;
    margin-bottom: 10px;
    margin-right: 10px;
  }

  input {
    border-radius: 4px;
    border: 2px solid #eee;
    outline: none;
    padding: 10px 8px;
    font-size: 15px;
    height: 48px;
    appearance: none;

    &:focus {
      border-color: #2974ff;
    }
  }

  .form__days {
    width: 350px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      width: 40px;
      height: 40px;
      background-color: #EEEEEE;
      border-radius: 4px;
      font-weight: 600;
      cursor: pointer;
      display: inline-flex;
      align-items: center;
      justify-content: space-around;

      & + span {
        margin-left: 10px;
      }

      &.active {
        border: 2px solid #2974ff;
      }

    }
  }

  button {
    width: 50%;
    height: 48px;
    border-radius: 4px;
    font-size: 16px;
    margin: 5px 0;
    cursor: pointer;
  }

  button + button {
    margin-left: 20px;
  }
}


@media all and (max-width: 480px) {
  .AddHabit{
    .form__group-row {
      flex-direction: column;

      div:first-child {
        margin-bottom: 15px;
      }

      div:last-child {
        margin-left: 0;
      }
    }

    .form__group .form__group-row {
      flex-direction: row;
    }

    .form__days {
      width: 100%;
    }
  }
}
