.BottomBar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 56px;
  color: #424242;
  background-color: #fff;
  box-shadow: 0px 2px 3px 3px rgba(0, 0, 0, 0.05);
  user-select: none;

  ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  li {
    text-align: center;
    line-height: 56px;
  }

  button {
    cursor: pointer;
    height: 44px;
    width: 150px;
    outline: none;
    border-radius: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -30px auto;
    appearance: none;
    font-weight: 600;

    img {
      width: 21px;
      height: 21px;
      margin-right: 3px;
    }
  }

  a {
    font-size: 15px;
    text-transform: uppercase;
  }
}
