.Habits {
  padding: 15px;
  overflow: auto;
  margin-top: 15px;
  margin-bottom: 50px;

  &__empty {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;

    h2 {
      display: flex;
    }

    span {
      margin-left: 8px;
    }
  }
}

.card {
  width: 100%;
  max-width: 480px;
  height: 85px;
  margin: 0 auto;
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  justify-content: space-between;
  padding: 10px 15px;

  &:last-child {
    margin-bottom: 50px;
  }

  &__left {
    display: flex;
  }

  &__right span {
    background-color: #d8fdf0;
    border-radius: 4px;
    padding: 0px 5px;
    color: #4dab92;
    height: 20px;
    display: inline-block;
    line-height: 20px;
  }

  &__checkbox {
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 15px;

    span {
      width: 25px;
      height: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #dedede;
      border-radius: 50%;
    }

    img {
      width: 15px;
      height: 15px;
      display: inline-block;
    }

    input {
      display: none;
    }

    input:checked ~ span {
      background: #2974ff;
      border-color: #2974ff;
    }
  }


  &__info {
    display: flex;
    flex-direction: column;
  }

  .name {
    margin-bottom: 8px;
  }

  .time {
    color: grey;
    font-size: 14px
  }
}
