.Habits {
  padding: 15px;
  overflow: auto;
  margin-top: 25px;

  &__empty {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100% - 230px);
  }
}

.card {
  width: 100%;
  max-width: 480px;
  height: 100px;
  margin: 0 auto;
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

  &__checkbox {
    width: 60px;
    display: flex;
    justify-content: center;

    span {
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #fff;
      border: 1px solid #9E9E9E;
      border-radius: 50%;
    }

    img {
      width: 15px;
      height: 15px;
      display: inline-block;
    }

    input {
      display: none;
    }

    input:checked ~ span {
      background: #2196F3;
      border-color: #2196F3;
    }
  }


  &__info {
    margin-left: 10px;
  }

  .name {
    margin-bottom: 10px;
  }

  .time {
    color: grey;
  }
}
