.Habits {
  height: 100%;
  padding: 15px;

  &__empty {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 450px;
  }
}

.card {
  width: 100%;
  max-width: 480px;
  height: 100px;
  margin: 0 auto;
  background-color: #e6e6e6;
  margin-bottom: 20px;
  border-radius: 8px;
  display: flex;
  align-items: center;

  &__checkbox {
    width: 60px;
    display: flex;
    justify-content: center;

    span {
      width: 30px;
      height: 30px;
      display: inline-block;
      background: #fff;
      border: 2px solid #b9b8b8;
      border-radius: 50%;
    }

    input {
      display: none;
    }

    input:checked ~ span {
      background: #2196F3;
      border-color: #2196F3;
    }
  }


  &__info {
    margin-left: 10px;
  }

  .name {
    margin-bottom: 10px;
  }

  .time {
    color: grey;
  }
}
