.Habits {
  padding: 15px;
  overflow: auto;
  margin-top: 15px;
  margin-bottom: 50px;

  &__empty {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;

    h2 {
      display: flex;
    }

    span {
      margin-left: 8px;
      font-size: 15px;
    }
  }
}

.card {
  width: 100%;
  max-width: 480px;
  height: 80px;
  margin: 0 auto;
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  justify-content: space-between;
  padding: 10px 15px;

  &:last-child {
    margin-bottom: 50px;
  }

  &__left {
    display: flex;
  }

  &__right span {
    background-color: #d8fdf0;
    border-radius: 4px;
    padding: 0px 5px;
    color: #4dab92;
    height: 20px;
    display: inline-block;
    line-height: 20px;
    user-select: none;
  }

  &__checkbox {
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 15px;

    span {
      width: 25px;
      height: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #dedede;
      border-radius: 50%;
    }

    img {
      width: 13px;
      height: 13px;
      display: inline-block;
    }

    input {
      display: none;
    }

    input:checked ~ span {
      background: #2974ff;
      border-color: #2974ff;
    }
  }


  &__info {
    display: flex;
    flex-direction: column;
    user-select: none;
  }

  .name {
    margin-bottom: 5px;
  }

  .time,
  .notes {
    color: grey;
    font-size: 14px;
    display: inline-block;
  }

  .time {
    margin-bottom: 5px;
  }

  .notes {
    font-style: italic;
  }
}

.AddHabits {
  position: fixed;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: auto;

  button {
    cursor: pointer;
    height: 44px;
    width: 150px;
    outline: none;
    border-radius: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -10px auto;
    appearance: none;
    font-weight: 600;
    user-select: none;

    img {
      width: 21px;
      height: 21px;
      margin-right: 5px;
    }
  }

  a {
    font-size: 15px;
    text-transform: uppercase;
  }
}
