.HabitActions {
  button {
    cursor: pointer;
    height: 40px;
    border-radius: 30px;
    margin: 20px auto 0;
    display: block;
  }

  li {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 35px;
    user-select: none;
  }

  li img {
    margin-right: 10px;
  }

  li span {
    font-size: 17px;
  }

  li.delete {
    color: #f44336;
  }
}
