.Calender {
  height: 100px;
  background-color: #e6e6e6;
  overflow: auto;
  position: sticky;
  top: 68px;
  display: flex;
  scroll-behavior: smooth;

  ul {
    white-space: nowrap;
  }

  li {
    height: 65px;
    width: 65px;
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
    border-radius: 4px;
    padding: 6px;
    font-weight: 500;
    cursor: pointer;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    user-select: none;
    margin: 17px 10px;

    &:active {
      opacity: 0.7;
    }

    &.active {
      border: 2px solid #2196F3;
      background-color: #fff;
      color: #2196F3;
      font-weight: bold;
    }

    span {
      font-size: 17px;
    }
  }
}

.Calender::-webkit-scrollbar { width: 0 !important }
