.Calender {
  height: 82px;
  background-color: #e6e6e6;
  overflow: scroll;
  display: flex;

  ul {
    white-space: nowrap;
    margin: 13px 0;
  }

  li {
    height: 55px;
    width: 55px;
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
    border-radius: 4px;
    padding: 5px;
    font-weight: 500;
    cursor: pointer;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    user-select: none;
    margin: 0 10px;
    border: 2px solid #f8f8f8;

    &:active {
      opacity: 0.7;
    }

    &.active {
      border: 2px solid #2974ff;
      background-color: #fff;
      color: #2974ff;
      font-weight: bold;
    }

    span {
      font-size: 14px;
    }
  }
}
