.Calender {
  height: 80px;
  background-color: #e6e6e6;

  ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: inherit;
  }

  li {
    height: 55px;
    width: 55px;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    border-radius: 4px;
    padding: 6px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    user-select: none;

    &:active {
      opacity: 0.7;
    }

    &.active {
      border: 2px solid #2196F3;
      background-color: #fff;
      color: #2196F3;
    }
  }
}
