button {
  border: 0;
  color: #fff;
  background-color: #ccc;
  -webkit-appearance: none;
  width: 100%;
  height: 35px;
  border-radius: 2px;
  text-transform: uppercase;
  outline: none;
  font-weight: 500;
  font-size: 14px;

  &.primary {
    background-color: #2974ff;
  }

  &.delete {
    background-color: #e64a19;
  }

  &:active {
    opacity: 0.7;
  }
}
