* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  color: #272730;
  background-color: #f7f7f7;
  font-weight: 500;
  font-size: 15px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.App {
  height: 100%;
}
